// Hero Section Start 

.heroSection{
    // height: calc(100vh - 90px);
    height: 100vh;
    &:after{
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        height: 200px;
        width: 100%;
        background: linear-gradient(180deg, #ffffff00 0%, #181c24 48.71%);
    }
  
    & .videoOverLay{
        position: relative;
        &::before{
            background: radial-gradient(90.87% 90.24% at 50% 50%,$theme1 0, $theme2 100%);
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            mix-blend-mode: multiply;
            pointer-events: none;
            position: absolute;
            z-index: 1;
        }
       
    }
    & .heroSectionContent{
        z-index: 5;
        & .heroContent{
            // display: flex;
            // flex-direction: column;
            & .heroTitle{
                font-size: 42px;
                line-height: 50px;
                color: $white;
                z-index: 1;

            }
            & .heroPera{
                font-size: 17px;
                color: $white;
                z-index: 1;

            }
            
        }
        & .heroFooter{
            display: flex;
            z-index: 2;
            & .heroDoLink{
                transition:all 0.3s ease-in-out;
                & .heroLinkTitle{
                    font-size: 16px;
                    color: $white;
                    opacity: 0.7;
                    transition:all 0.3s ease-in-out;
                    z-index: 2;
                }
               
                & .heroLink{
                    font-size: 30px;
                    color: $white;
                    opacity: 0.7;
                    transition:all 0.3s ease-in-out;

                }
                &:hover{
                    & .heroLink{
                        color: $primary;
                        opacity: 1;
                    }
                    & .heroLinkTitle{
                        transform: translateX(5px);
                    }
                }
            }
        }
        & .heroCircleImg{
            width: 300px;
            height: 350px;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            opacity: 0.7;
        }
        
    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {
    .heroSection{
      
        & .videoOverLay{
           
            &::before{
            
            }
            &:after{
            }
        }
        & .heroSectionContent{
         
            & .heroContent{
          
                & .heroTitle{
    
                }
                & .heroPera{
                }
                
            }
            & .heroFooter{
             
                & .heroDoLink{
                 
                    & .heroLinkTitle{
             
                    }
                   
                    & .heroLink{
                    }
                    &:hover{
                        & .heroLink{
                     
                        }
                        & .heroLinkTitle{
                           
                        }
                    }
                }
            }
            & .heroCircleImg{
       
            }
            
        }
    }
}

@include media-breakpoint-down(xl) {
    .heroSection{
      
        & .videoOverLay{
           
            &::before{
            
            }
            &:after{
            }
        }
        & .heroSectionContent{
         
            & .heroContent{
          
                & .heroTitle{
                    font-size: 36px;
                    line-height: 45px;
                
                }
                & .heroPera{
                    font-size: 15px;
                }
                
            }
            & .heroFooter{
             
                & .heroDoLink{
                 
                    & .heroLinkTitle{
                        font-size: 12px;
                    }
                   
                    & .heroLink{
                        font-size: 22px;
                    }
                    &:hover{
                        & .heroLink{
                     
                        }
                        & .heroLinkTitle{
                           
                        }
                    }
                }
            }
            & .heroCircleImg{
       
            }
            
        }
    }
}

@include media-breakpoint-down(lg) {
    .heroSection{
    height: 80vh;
      
        & .videoOverLay{
           
            &::before{
            
            }
            &:after{
            }
        }
        & .heroSectionContent{
         
            & .heroContent{
          
                & .heroTitle{
                    font-size: 30px;
                    line-height: 38px;
                }
                & .heroPera{
                    font-size: 14px;
                }
                
            }
            & .heroFooter{
             
                & .heroDoLink{
                 
                    & .heroLinkTitle{
             
                    }
                   
                    & .heroLink{
                    }
                    &:hover{
                        & .heroLink{
                     
                        }
                        & .heroLinkTitle{
                           
                        }
                    }
                }
            }
            & .heroCircleImg{
       
            }
            
        }
    }
}

@include media-breakpoint-down(md) {
    .heroSection{
    // height: 70vh;
      
        & .videoOverLay{
           
            &::before{
            
            }
            &:after{
            }
        }
        & .heroSectionContent{
         
            & .heroContent{
          
                & .heroTitle{
                    font-size: 25px;
                    line-height: 34px;
                }
                & .heroPera{
                }
                
            }
            & .heroFooter{
             
                & .heroDoLink{
                 
                    & .heroLinkTitle{
             
                    }
                   
                    & .heroLink{
                    }
                    &:hover{
                        & .heroLink{
                     
                        }
                        & .heroLinkTitle{
                           
                        }
                    }
                }
            }
            & .heroCircleImg{
       
            }
            
        }
    }
}

@include media-breakpoint-down(sm) {
    .heroSection{
    // height: 60vh;
      
        & .videoOverLay{
           
            &::before{
            
            }
            &:after{
            }
        }
        & .heroSectionContent{
         
            & .heroContent{
          
                & .heroTitle{
                    font-size: 22px;
                    line-height: 30px;
                }
                & .heroPera{
                }
                
            }
            & .heroFooter{
             
                & .heroDoLink{
                 
                    & .heroLinkTitle{
             
                    }
                   
                    & .heroLink{
                    }
                    &:hover{
                        & .heroLink{
                     
                        }
                        & .heroLinkTitle{
                           
                        }
                    }
                }
            }
            & .heroCircleImg{
                width: 202px;
                height: 300px;
            }
            
        }
    }
}


// aboutUsSection 
.aboutUsSection{
    // background: radial-gradient(90.87% 90.24% at 50% 50%,$theme1 0, $theme2 100%);
    position: relative;
    &:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(360deg, #ffffff00 0%, #181c24 97.71%);
    }
    &::before{
        background: radial-gradient(90.87% 90.24% at 50% 50%,$theme1 0, $theme2 100%);
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        mix-blend-mode: multiply;
        pointer-events: none;
        position: absolute;
        z-index: 1;
    }
    // &::before{
    //     background: radial-gradient(90.87% 90.24% at 50% 50%,$theme1 0, $theme2 100%);
    //     content: "";
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     mix-blend-mode: multiply;
    //     pointer-events: none;
    //     position: absolute;
    //     z-index: 1;
    // }

    & .sectionTitle{
        font-size: 40px;
        color: $white;
        z-index: 2;
    }
    & .pera{
        font-size: 16px;
        color: $white;
        font-weight: 300;
        z-index: 2;

    }
    & .vrBorder{
        position: relative;
        // &::after{
        //     position: absolute;
        //     content: '';
        //     background: $theme3;
        //     height: 100%;
        //     width: 1px;
        //     right: 0;
        //     top: 0;
        // }
    }
    & .aboutImg{
        height: 70px;
        width: 250px;
        z-index: 2;

    }
}

@include media-breakpoint(basic) {}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {
}


@include media-breakpoint-down(xxl) {
    .aboutUsSection{

        & .sectionTitle{
          
        }
        & .pera{
       
        }
        & .vrBorder{
          
            &::after{

            }
        }
        & .aboutImg{
           
        }
    }
}

@include media-breakpoint-down(xl) {
    .aboutUsSection{

        & .sectionTitle{
            font-size: 33px;
        }
        & .pera{
            font-size: 14px;
        }
        & .vrBorder{
          
            &::after{

            }
        }
        & .aboutImg{
           
        }
    }
}

@include media-breakpoint-down(lg) {
    .aboutUsSection{

        & .sectionTitle{
          
        }
        & .pera{
       
        }
        & .vrBorder{
          
            &::after{

            }
        }
        & .aboutImg{
            height: 53px;
            width: 208px;
        }
    }
}

@include media-breakpoint-down(md) {
    .aboutUsSection{

        & .sectionTitle{
          
        }
        & .pera{
       
        }
        & .vrBorder{
          border: none !important;
            &::after{

            }
        }
        & .aboutImg{
           
        }
    }
}

@include media-breakpoint-down(sm) {
    .aboutUsSection{

        & .sectionTitle{
            font-size: 25px;
        }
        & .pera{
       font-size: 13px;
        }
        & .vrBorder{
          
            &::after{

            }
        }
        & .aboutImg{
           
        }
    }
}



// itConsulting start 

.itConsulting{
    & .sideNav{
        background: $theme1;
        & .navPills{
            & .navItem{
                & .navLink{
                    background: $theme1;
                    color: $white;
                    cursor: pointer;
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    height: 100%;
                    padding: 16px 0 16px 34px;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        text-decoration: underline !important;
                    }
                    &.active{
                        background-color: $theme3;
                        transform: translateX(35px);
                    }
                }
            }
        }
    }
    & .tabContent{
        & .tabPane{
            & .sectionHeading{
                font-size: 30px;
                color: $black;
                position: relative;

                &::before{
                    position: absolute;
                    content: '';
                    background-color: $theme3;
                    width: 100px;
                    height: 2px;
                    left: 0;
                    bottom: 0;
                }
            }
            & .pera{
                font-size: 16px;
                color: $black;
                font-weight: 400;
            }
            & .outterCard{
                & .linkDev{
                    font-size: 16px;
                    color: $black;
                    font-weight: 400;
                }
                & .iconDots{
                    width: 10px;
                    height: 10px;
                }
            }
            & .coreTitle{
                font-size: 20px;
                color: $black;
                font-weight: 400;
            }
            & .corePera{
                font-size: 14px;
                color: $black;
                transition: all 0.3s ease-in-out;
                &:hover{
                    & .coreIcon{
                        transform: scale(1.1);

                    }
                }
                & .coreIcon{
                    transition: all 0.3s ease-in-out;
                    // width: 50px;
                    height: 50px;
                }
            }
            
        }
    }
}